build/
.vscode/
*.dSYM
*.o

.gemini/
gha-creds-*.json
# .gitattributes
# 强制所有文本文件在提交时转换为 LF，检出时根据系统自动转换（或保持 LF）
* text=auto

# 对于 C++/C# 代码，强制使用 LF (即使在 Windows 上)
*.cpp text eol=lf
*.h   text eol=lf
*.cs  text eol=lf

# 脚本文件必须是 LF，否则 Linux 下无法运行
*.sh  text eol=lf